# OS X Finder stuff
.DS_Store

# XCode project
QuizMates.xcodeproj/
QuizMates.xcworkspace/

# Tuist
Derived
# Ignore the generated Xcode project and workspace files
Tuist/.build
Tuist/Package.resolved
